<p>create-topic works!</p>

<h3>Create Topic Form</h3>
<div *ngIf="!submitted">
    <form>
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id" required
        [(ngModel)]="id" name="id">
      </div>
      
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required
        [(ngModel)]="name" name="name">
      </div>
      
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required
        [(ngModel)]="description" name="description">
      </div>

      <div class="form-group">
        <label for="username">Created By</label>
        <input type="text" class="form-control" id="ursename" required
        [(ngModel)]="userid" name="username">
      </div>
      
      <div class="btn-group" >
        <button class="btn btn-primary" (click)="goBack()">Back</button>
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
      </div>
    </form>
</div>
 
<div  *ngIf="submitted">
  <div class="btn-group ">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
</div>
