<p>topics works!</p>
 
  <!-- <a *ngFor="let cust of topics"  [routerLink]="['/detail', cust.id]" class="col-1-4">
    <div>
      <h4>{{cust.id}} - {{cust.name}}</h4>
    </div>
    <button (click)="topicDetails(cust.id)" class="btn btn-info" style="margin-left: 10px">Details</button>

  </a> -->

  <div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Topic List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Topic Id</th>
          <th>Topic Name</th>
          <th>CreatedBy</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let topic of topics">
          <td>{{topic.id}}</td>
          <td>{{topic.name}}</td>
          <td>{{topic.userid}}</td>
          <td>
              <button [routerLink]="['/detail', topic.id]" class="btn btn-info">Details</button>              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
