<p>Users works!</p>
 
  <!-- <a *ngFor="let cust of topics"  [routerLink]="['/detail', cust.id]" class="col-1-4">
    <div>
      <h4>{{cust.id}} - {{cust.name}}</h4>
    </div>
    <button (click)="topicDetails(cust.id)" class="btn btn-info" style="margin-left: 10px">Details</button>

  </a> -->

  <div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User Id</th>
          <th>User Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>
              <button [routerLink]="['/topics', user.id]" class="btn btn-info">Topics</button>              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
