<p>topic-details works!</p>

<h3>Update Topic Form</h3>
<div [hidden]="submitted">
    <form>
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id" required
        [(ngModel)]="topic.id" name="id">
      </div>
      
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required
        [(ngModel)]="topic.name" name="name">
      </div>
      
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required
        [(ngModel)]="topic.description" name="description">
      </div>

      <div class="form-group">
        <label for="username">Created By</label>
        <input type="text" class="form-control" id="username" required
        [(ngModel)]="topic.userid" name="username">
      </div>
      
      <div class="btn-group">
    <button class="btn btn-primary" (click)="goBack()">Back</button>
      <button type="submit" class="btn btn-success" (click)="onSubmit()">Update</button>
    <button class="btn btn-danger" (click)="deleteTopic()">Delete</button>
    </div>
      
    </form>
</div>
 
<div [hidden]="!submitted">
    <h4 [hidden]="!topicBool">Update successfully!</h4>
    <h4 [hidden]="topicBool">Deleted successfully!</h4>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="goBack()">Back</button>
      <button class="btn btn-success" (click)="submitted=false">Edit</button>
    </div>
</div>
